= form_for @attendee, html: {class: "attendee-form"} do |f|
  - if @attendee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attendee.errors.count, "error")} prohibited this attendee from being saved:"
      %ul
        - @attendee.errors.full_messages.each do |msg|
          %li= msg
  %h2.center
    = @class_schedule.title
  %p
    %strong
      Date:
    = @class_schedule.date.strftime("%m-%d-%Y") 
  %p
    %strong
      Instructor:
    = @class_schedule.instructor.name

  %p
    %strong 
      Start time:
    = @class_schedule.start_time.strftime("%H:%M") 
  %p
    %strong
      End time:
    = @class_schedule.end_time.strftime("%H:%M") 
  %p
    %strong
      Spots:
    = @class_schedule.spots
  %p
    %strong
      Details:
    %br
    = @class_schedule.detail.html_safe

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email

  .field
    = f.label :age
    = f.text_field :age

  .field
    = f.label :message
    = f.cktext_area :message

  .field
    - @class_schedule = params[:class_schedule_id].to_i
    = hidden_field_tag "class_schedule_id", @class_schedule

  .captacha
    .g-recaptcha{"data-sitekey" => "#{@recaptcha_key}"}

  %form{:action => "", :method => "POST"}
    %script.stripe-button{"data-amount" => "2000", "data-description" => "2 widgets ($20.00)", "data-image" => "/128x128.png", "data-key" => "#{@api_key}", "data-name" => "Demo Site", :src => "https://checkout.stripe.com/checkout.js"}
      :cdata
