%h1 ClassSchedules#index
- @class_schedules.each do |class_schedule|
  = class_schedule.title
  = class_schedule.date
  = class_schedule.start_time
  = class_schedule.end_time
  = class_schedule.instructor.name
  = class_schedule.instructor.bio