%h2.table-title SCHEDULE
%table#schedule.display{:cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %th Title
      %th Date
      %th Instructor
      %th Start time
      %th End time
      %th No. of Spots
      %th
      %th
      - if user_signed_in?
        %th
        %th

  %tbody
    - @class_schedules.each do |class_schedule|
      %tr
        %td= class_schedule.title
        %td= class_schedule.date.strftime("%m-%d-%Y") 
        %td= class_schedule.instructor.name
        %td= class_schedule.start_time.strftime("%H:%M") 
        %td= class_schedule.end_time.strftime("%H:%M")
        %td= class_schedule.spots
        %td= link_to 'Book', new_attendee_path(class_schedule_id: class_schedule.id)
        %td= link_to 'Details', class_schedule

:javascript
  $.backstretch("http://res.cloudinary.com/drg9hguhu/image/upload/v1429266588/Marigold5_BN_infvdw.jpg");