%h2.table-title Schedule
%table#schedule.display{:cellspacing => "0", :width => "100%"}
  %thead
    %tr
      %th Title
      %th Date
      %th Instructor
      %th Class Detail
      %th Start time
      %th End time
      %th No. of Spots
      %th
      %th
      - if user_signed_in?
        %th
        %th

  %tbody
    - @class_schedules.each do |class_schedule|
      %tr
        %td= class_schedule.title
        %td= class_schedule.date.strftime("%d-%m-%Y") 
        %td= class_schedule.instructor.name
        %td= truncate(class_schedule.detail, omission: "...read more", length: 100).html_safe
        %td= class_schedule.start_time.strftime("%H:%M") 
        %td= class_schedule.end_time.strftime("%H:%M")
        %td= class_schedule.spots
        %td= link_to 'Book', new_attendee_path(class_schedule_id: class_schedule.id)
        %td= link_to 'Details', class_schedule
