%h1 Listing Class Schedules

%table
  %thead
    %tr
      %th Title
      %th Date
      %th Instructor
      %th Instructor Bio
      %th Start time
      %th End time
      %th Spots
      %th Status
      %th
      %th
      %th
      %th

  %tbody
    - @class_schedules.each do |class_schedule|
      %tr
        %td= class_schedule.title
        %td= class_schedule.date
        %td= class_schedule.instructor.name
        %td= class_schedule.instructor.bio
        %td= class_schedule.start_time
        %td= class_schedule.end_time
        %td= class_schedule.spots
        %td= class_schedule.status
        %td= link_to 'Book Now', new_attendee_path(class_schedule_id: class_schedule.id)
        %td= link_to 'Show', class_schedule
        %td= link_to 'Edit', edit_class_schedule_path(class_schedule)
        %td= link_to 'Destroy', class_schedule, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New class_schedule', new_class_schedule_path
