.class-details
  %p#notice= notice

  %h2.center
    = @class_schedule.title
  %p
    %b Date:
    = @class_schedule.date.strftime("%m-%d-%Y") 
  %p
    %b Instructor:
    = @class_schedule.instructor.name

  %p
    %b Start time:
    = @class_schedule.start_time.strftime("%H:%M") 
  %p
    %b End time:
    = @class_schedule.end_time.strftime("%H:%M") 
  %p
    %b Spots:
    = @class_schedule.spots
  %p
    = @class_schedule.detail.html_safe
